#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

@media (max-width:992px) {
  .title-image {
    position: relative;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4rem;
}

.nav-items {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 22%;
  transform: rotate(15deg);
  position: absolute;
}

.image20 {
  padding-bottom: 2%;
  font-family: "Awesome";
  color: #ef8172;
}

.image20:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to action */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

.social-icons {
  margin: 20px 10px;
}

#footer {
  padding: 7% 15%;
  line-height: 2;
  text-align: center;
}
